:root {
  --background-color: #ffffff;
  --hero-background-color: #2f303a;
  --command-background-color: #f5f4fa;
  --button-background-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --text-logo: #2196f3;
  --text-logo-header: #000000;
  --text-logo-footer: #ffffff;
  --hero-title-color: #ffffff;
  --hover--color: #188ce8;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--title-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-logo-header);
  text-decoration: none;
}
.logo-text {
  color: var(--text-logo);
}
.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style: none;
}
.site-nav .link {
  color: var(--title-color);
  text-decoration: none;
}
.auth-nav .link {
  color: var(--text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover--color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--hover--color);
}
.hero {
  margin-bottom: 44px;
  background-color: var(--hero-background-color);
  color: var(--hero-title-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--button-background-color);
  color: var(--hero-title-color);
  cursor: pointer;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-background-color);
  color: var(--hero-title-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.list-features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.list-features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.section-command {
  background-color: var(--command-background-color);
}
.section-command li {
  background-color: var(--background-color);
}
.section-command-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-command-position {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.footer {
  padding-top: 44px;
  background-color: var(--hero-background-color);
  color: var(--hero-title-color);
}
.address .link {
  color: var(--text-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--hover--color);
}
.logo-text-footer {
  color: var(--text-logo-footer);
}
.filter h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.filter p {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.button-filter {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  color: var(--title-color);
  text-align: center;
  letter-spacing: 0.03em;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--hover--color);
  color: var(--hero-title-color);
}
